<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add category</title>
</head>
<body>
<h1>Add category</h1>
<h3 th:if="${isAdded}">Added successfully!</h3>
<form th:if="${!isAdded}" th:action="@{/admin/add-category}" th:method="post">
    <input type="text" name="name" placeholder="Name" required="required"><br><br>
    <select name="category">
        <option th:value="0" th:text="None"></option>
        <option th:each="category : ${categories}" th:value="${category.id}"
                th:text="${category.name}"></option>
    </select><br><br>
    <button type="submit">Create</button>
</form>

<a th:href="@{/admin}">To admin start</a> <br>
<a th:href="@{/}">Back to home page</a>
</body>
</html>